@tailwind base;
@tailwind components;
@tailwind utilities;

  body{
    background-color: rgba(242, 242, 242, 0.888);
    overflow-x: hidden !important;
  }
  
  *::-webkit-scrollbar{
    display: none;
  }